@font-face {
  font-family: DS-DIGI;
  src: url(../Font/DS-DIGI.TTF);
}

@font-face {
  font-family: ds-digi-bold;
  src: url(../Font/DS-DIGIB.TTF);
  font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #eef2f5;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
  display: flex;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  gap: 5%;
  align-items: center;
}

.back-button {
    text-align: center;
    margin-top: 30px;
}

.back-button button {
    padding: 12px 25px;
    margin: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #005bbb;
    color: white;
    transition: background-color 0.3s;
}

.back-button button:hover {
    background-color: #003f7f;
}


/*gestion Picto BS1*/

.picto1 {
  display: grid;
  grid-template-columns: repeat(5, 0.1fr);
  grid-template-rows: repeat(5, 0.1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #000000;
  border:5px solid #737373;
  min-width: 400px;
  min-height: 400px;
}

.picto1 img {
  height: 50%;
}

.picto1 p {
  text-align: center;
}

.blanc {
  font-size: 70%;
  color: white;
  line-height: 130%;
}

.pointblanc {
  color: white;
  font-size: 150px;
  line-height: 25px;
}

.vert {
  font-size: 60%;
  color: green;
  line-height: 140%;
}

.jaune {
  font-size: 60%;
  color: #fdc517;
  line-height: 140%;
}

.rouge {
  color: #e8461e;
  font-size: 70%;
  line-height: 130%;
}

.alarme {
  color: #e8461e;
  font-weight: bold;
  font-size: 80%;
}

.urg {
  background-color: #e8461e;
  font-size: 100%;
  font-weight: bold;
}

.ict {
  font-family: DS-DIGI;
  font-size: 400%;
  color: #e8461e;
}

.div1 { grid-area: 1 / 1 / 2 / 2; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div2 { grid-area: 1 / 2 / 2 / 3; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div3 { grid-area: 1 / 3 / 2 / 4; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div4 { grid-area: 1 / 4 / 2 / 5; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div5 { grid-area: 1 / 5 / 2 / 6; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div6 { grid-area: 2 / 1 / 3 / 3; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 160px;}
.div7 { grid-area: 2 / 3 / 3 / 4; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div8 { grid-area: 2 / 4 / 3 / 5; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div9 { grid-area: 2 / 5 / 3 / 6; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div10 { grid-area: 3 / 1 / 4 / 2; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div11 { grid-area: 3 / 2 / 4 / 3; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div12 { grid-area: 3 / 3 / 4 / 4; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div13 { grid-area: 3 / 4 / 4 / 5; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div14 { grid-area: 3 / 5 / 4 / 6; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div15 { grid-area: 4 / 1 / 5 / 2; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div16 { grid-area: 4 / 2 / 5 / 3; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div17 { grid-area: 4 / 3 / 5 / 4; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div18 { grid-area: 4 / 4 / 5 / 5; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div19 { grid-area: 4 / 5 / 5 / 6; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div20 { grid-area: 5 / 1 / 6 / 2; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px; background-color: #e8461e;}
.div21 { grid-area: 5 / 2 / 6 / 3; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px; background-color: #e8461e;}
.div22 { grid-area: 5 / 3 / 6 / 4; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px; background-color: #e8461e;}
.div23 { grid-area: 5 / 4 / 6 / 5; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}
.div24 { grid-area: 5 / 5 / 6 / 6; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%; min-height: 80px; min-width: 80px;}


/*Gestion de l'IV*/

.iv {
  position:relative;
  min-width:400px;
  min-height:400px;
  background:#050505;
  border:5px solid #737373;
}

.ticks {
  position: absolute;
  left: 50%;
  top: 17%;
  transform:rotate(180deg);
}

.ticks div {
  position:absolute;
  left:50%;
  top:50%;
  background:white;
  transform-origin:center -130px;
}

.labels {
  transform: rotate(180deg);
  position: absolute;
  left: 50%;
  top: 25%;
}

.labels div {
  position:absolute;
  color:white;
  font-family:Arial, sans-serif;
  font-size:26px;
  left:50%;
  top:50%;
  transform-origin:center 200px;
}

.needle {
  position:absolute;
  width:6px;
  height:160px;
  background:white;
  left:50%;
  top:50%;
  transform-origin:top;
  transform:rotate(73.5deg);
  border-radius:6px;
}

.hub {
  position:absolute;
  width:28px;
  height:28px;
  background:#000;
  border-radius:50%;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.unit {
  position:absolute;
  color:white;
  font-family:Arial, sans-serif;
  font-size:22px;
  left:50%;
  top:58%;
  transform:translateX(-50%);
}



/*Gestion de la tension ligne*/

.tension {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 40px;
}

.jauge {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jauge-label {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.jauge-contenu {
    width: 60px;
    height: 500px;
    background: linear-gradient(
        to top,
        #d9534f 8%,
        #d9534f 40%,
        #ffcc00 40%,
        #ffcc00 60%,
        #3cb043 60%,
        #3cb043 100%
    );
    border: 3px solid #000;
    position: relative;
    overflow: hidden;
}

.jauge-contenu-eff {
    width: 60px;
    height: 500px;
    border: 3px solid #000;
    position: relative;
    overflow: hidden;
}

.jauge-barre {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*background-color: rgba(0,0,0,0.3);*/
    height: 8%; /* <- on modifie ça en JS */
    z-index: 1;
}

.jauge-barre-eff {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*background-color: rgba(0,0,0,0.3);*/
    height: 50%; /* <- on modifie ça en JS */
    z-index: 2;
}

.fleche {
    position: absolute;
    transform: rotate(270deg) translateX(-50%);
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 20px solid white;
    z-index: 10;
}

.traitrouge {
    position: absolute;
    transform: translateX(-50%);
    width  : 65px;
    height : 10px;
    background : red;
    z-index: 10;
}



.fondEff {
  position:relative;
  width:120px;
  height:500px;
  background: black;
  overflow:hidden;
}

/* Formes vertes inclinées */
.fondEff::before,
.fondEff::after {
  content:"";
  position:absolute;
  left: 30px;
  width:100%;
  height:50%;
  background: white;
  transform-origin:center;
}

.fondEff::before {
  top:0;
  transform:skewX(10deg);
}

.fondEff::after {
  bottom:0;
  transform:skewX(-10deg);
}

/* Lettres */
.topEff, .bottomEff, .midEff {
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.topEff {
  top:10px;
  color: black;
  left: 20px;
}

.midEff {
  color: white;
  left: 10px;
  top: 45%;
}

.bottomEff {
  bottom:10px;
  color: black;
  left: 20px;
  z-index: 2;
}
