body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

header {
    background-color: #444;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.back-button {
    text-align: center;
    margin-top: 30px;
}

.back-button button {
    padding: 12px 25px;
    margin: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #005bbb;
    color: white;
    transition: background-color 0.3s;
}

.back-button button:hover {
    background-color: #003f7f;
}

.picto1 {
  display: grid;
  grid-template-columns: repeat(5, 0.1fr);
  grid-template-rows: repeat(5, 0.1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 2; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div2 { grid-area: 1 / 2 / 2 / 3; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div3 { grid-area: 1 / 3 / 2 / 4; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div4 { grid-area: 1 / 4 / 2 / 5; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div5 { grid-area: 1 / 5 / 2 / 6; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div6 { grid-area: 2 / 1 / 3 / 3; display: flex; justify-content: center; align-items: center; height: 75px; width: 150px;}
.div7 { grid-area: 2 / 3 / 3 / 4; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div8 { grid-area: 2 / 4 / 3 / 5; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div9 { grid-area: 2 / 5 / 3 / 6; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div10 { grid-area: 3 / 1 / 4 / 2; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div11 { grid-area: 3 / 2 / 4 / 3; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div12 { grid-area: 3 / 3 / 4 / 4; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div13 { grid-area: 3 / 4 / 4 / 5; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div14 { grid-area: 3 / 5 / 4 / 6; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div15 { grid-area: 4 / 1 / 5 / 2; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div16 { grid-area: 4 / 2 / 5 / 3; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div17 { grid-area: 4 / 3 / 5 / 4; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div18 { grid-area: 4 / 4 / 5 / 5; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div19 { grid-area: 4 / 5 / 5 / 6; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div20 { grid-area: 5 / 1 / 6 / 2; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div21 { grid-area: 5 / 2 / 6 / 3; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div22 { grid-area: 5 / 3 / 6 / 4; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div23 { grid-area: 5 / 4 / 6 / 5; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}
.div24 { grid-area: 5 / 5 / 6 / 6; display: flex; justify-content: center; align-items: center; height: 75px; width: 75px;}

.toggle-btn {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.toggle-btn.on {
    background-color: #2ecc71; /* vert */
}

.toggle-btn.off {
    background-color: #e74c3c; /* rouge */
}


/*Gestion de la tension ligne et effort-mètre*/

.tension {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}

.tension-colonne {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

input[type="range"][orient="vertical"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    height: 500px;
    margin-right: 25px;
}

.tension-boutons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;   /* même hauteur que le slider */
}

.t-btn {
    width: 100px;
    padding: 5px 0;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.t-vert {
    background-color: #3cb043;
    color: white;
}

.t-jaune {
    background-color: #ffcc00;
    color: black;
}

.t-rouge {
    background-color: #d9534f;
    color: white;
}
